.App {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body, button {
  font-size: 18px;
}

.container {
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.fact-button {
  margin: 0 40px;
  padding: 10px 20px;
  font-size: 18px;
}

.get-useless-facts-button {
  background-color: #e75480;
  color: white; 
}

.get-number-fact-button {
  background-color: #ffcc33;
  color: black; 
}

.output-text {
  color: #32cd32; 
  margin-top: 30px;
  font-size: 18px;
  text-decoration: blueviolet;
}


.fact-button:hover {
  background-color: #0056b3;
}

.fact-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
